a:link {
  text-decoration: none;
  color: var(--accent-1);
}
/* Disable color change after clicking link */
a:visited {
  color: var(--accent-1);
}
a:hover {
  background-color: var(--secondary);
}
.cb_form {
  color: var(--on-primary);
  border-top: var(--line-weight-1) solid var(--secondary);
  padding: var(--form-padding);
}
.cb_form .row {
  height: var(--row-height);
  line-height: var(--row-height);
}
.cb_form .group + .group {
  margin-top: 16px;
  padding-top: 16px;
  border-top: var(--line-weight-1) solid var(--secondary);
}
.cb_form .group p {
  margin:0;
}
.cb_container {
  display: block;
  position: relative;
  padding-__MSG_@@bidi_start_edge__: var(--checkbox-padding);
}
/* Hide the browser's default checkbox */
.cb_container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  border: var(--line-weight-1) solid var(--secondary);
}
.checkmark {
  position: absolute;
  top: var(--checkbox-top);
  __MSG_@@bidi_start_edge__: 0px;
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  border: var(--tertiary) solid var(--line-weight-1);
  border-radius: var(--button-border-radius);
}
/* When the checkbox is checked, add a blue background */
.cb_container input:checked ~ .checkmark {
  background-color: var(--accent-1);
  border-color: var(--accent-1);
}
/* When the checkbox is display, gray out */
.cb_container input:disabled ~ .checkmark {
  background-color: var(--primary);
  border-color: var(--secondary);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.cb_container input:checked ~ .checkmark:after {
  display: block;
}
.download {
  float:__MSG_@@bidi_end_edge__;
  display:inline-block;
  padding-__MSG_@@bidi_end_edge__:50px;
}
/* Hide the download link */
.cb_container input:not(:checked) ~ .download {
  opacity:0;
}
/* Style the checkmark/indicator */
.cb_container .checkmark:after {
  __MSG_@@bidi_start_edge__: 5px;
  top: 0px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 0px 0px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cb_label {
  display: inline-block;
}
.cb_container input:disabled ~ .cb_label {
  color: var(--tertiary);
}
.btn_container {
  position: relative;
  color: var(--on-primary);
  border-top: var(--line-weight-1) solid var(--secondary);
  padding-__MSG_@@bidi_start_edge__: var(--form-padding);
}
button.setting {
  padding: var(--button-padding);
  font-size: 100%;
  background-color: var(--secondary);
  color: var(--on-secondary);
  border: var(--tertiary) solid var(--button-border-width);
  border-radius: var(--button-border-radius);
}
button.selected {
  border-color: var(--accent-1);
}
button.unselected {
  border-color: var(--secondary);
}
button.hover {
  background-color: var(--tertiary);
}
/* Warnings may only be shown after successfully contacting the client. */
#am-warnings {
  display: none;
}
[id^="am-warning-"] {
  display: none;
  margin: 8px 0 0 0;
  padding: 16px;
  font-size: 80%;
  background: #fc4;
}
[id^="am-warning-"]:before {
  content: "⚠ ";
  color: red;
}
.status_items {
  padding: var(--form-padding);
  color: var(--on-primary);
  border-top: var(--line-weight-1) solid var(--secondary);
}
.status_items p {
  margin-bottom: 0;
}
button.action {
  font-size: 100%;
  border: var(--secondary) solid var(--line-weight-1);
  border-radius: 7px;
}
button.action:disabled {
  color: var(--tertiary);
  background-color: var(--primary);
  border-color: var(--tertiary);
}
button.action:enabled {
  color: var(--on-primary);
  background-color: var(--accent-1);
  border-color: var(--accent-1);
}
input.input {
  font-size: 100%;
}
.name {
  font-weight: bold;
}
a.back_button {
  margin: var(--button-border-width) var(--button-border-width);
  padding: var(--back-button-padding);
  border-radius: var(--button-border-radius);
  text-decoration: none;
  color: var(--on-primary);
  font-size: 150%;
}
a.back_button:hover {
  background-color: var(--tertiary);
}
