body {
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #4a4a4a;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #8b8b8b;
  padding-top: 32px;
  font-weight: normal;
}

.header {
  width: 100%;
  padding-top: 20px;
  height: 61px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.16);
  background-color: #ffffff;
}


.content { 
width: 100%;
text-align: center;
}

.CENO-LOGO-H {
  width: 124px;
  height: 39px;
}

.Ceno-warning-icon {
  width: 49px;
  height: 46px;
  padding: 40px 4px 16px 4px;
}

.Ceno-update-icon {
  width: 51px;
  height: 46px;
  padding: 40px 4px 16px 4px;
}

.google-play-badge-2 {
  width: 162px;
  height: 49px;
}

.Paskoocheh-download-badge {
  width: 162px;
  height: 49px;
}




